.DelButton{
    width: 7.5rem;
    height: 2rem;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    border-radius: 20px;
    outline: none;
    color: #2196F3;
    background-color: white;
    border: 2px solid #2196F3 ;
}
.DelButton:hover{
    background-color:#2196F3 ;
    color: white;
}