.Search{
    height: 2.5rem;
    width: 25rem;
    font-size: 0.9rem;
    border-radius: 5px;
    outline: none;
    border: 0.01rem solid #2196F3;
}
.Search:focus {
    outline: none;
    border: 1.4px solid #2196F3;
}
